html, body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

:root{
  --bg:#0a0a0a;
  --text:#e8e8e8;
  --secondary:#030d17;
  --accent:#19cc73;
}

body{
  background-color: var(--bg);
  color: var(--text);
}

.error-message{
  display: none;
  text-align: left;
  position: fixed;
  inset: 10%;
  background-color: var(--accent);
  padding: 2em 3em;
  height: fit-content;
  flex-direction: column;
  border-radius:15px;
  gap: 1em
}

ul{
  list-style: none;
  line-height: 1.5;
}

main{
  padding-top: 1em;
  width: min(700px, 90%);
  margin-inline: auto;
  text-align: center;
}

.header{
  font-size: 2rem;
  font-weight: 600;

}

.header span{
  color: var(--accent);
}

.search-bar{
  display: flex;
  align-items: center;
  margin-top: 40px;
  width: min(90%, 500px);
  height: 40px;
  padding: .6em 1.5em;
  margin-inline: auto;
  background-color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15rem;
}

.search-bar .search-input{
  border: none;
  width: 90%;
  height: 100%;
  background-color: transparent;
  color: var(--text);
  font-size: 1.2rem;
}

.search-input:focus{
  outline: none;
}

.search-input::placeholder{
  color: var(--text);
  opacity: .8;
}

.search-input::-webkit-search-cancel-button{
  position:absolute;
  right:10px;    

  -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background: url("images/cancel.png") no-repeat center center;
}

.search-input::-webkit-search-cancel-button:hover{
  cursor: pointer;
}

.search-btn{
  width: 10%;
  background-color: transparent;
  border: none;
}

.search-btn:hover{
  cursor: pointer;
}

.main-container{
  padding: 0;
  margin-top: -20px;
  display: none;
  flex-direction: column;
  row-gap: 0.5em;
  align-items: center;
  transition: all 300ms ease-in ;
}

#weather-image{
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.current-condition{
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 36px;
  font-weight: 600;
}

.current-temp{
  color: var(--accent);
}

.location{
  font-size: 20px;
}

.location i{
  margin-left: 10px;
}
.current-condition{
  font-size: 26px;
}

.footer{
  margin-top: 150px;
  width: min(90%, 800px);
  margin-inline: auto;
  padding-inline: 1em;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1em;
  line-height: 1.5;

}

.footer a{
  text-decoration: none;
  color: var(--accent);
}

.footer-contacts{
  display: flex;
  align-items: start;
  gap: 10px;
}

.footer-logo img{
  border-radius: 50%;
}

.footer-links ul{
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 600px){
  .header{
    margin-top: 20px;
  }

  .location{
    font-size: 16px;
  }
  
}

@media (max-width: 840px){
  .footer{
    flex-direction: column;
    gap: 2em;
    align-items: center;
    text-align: center;
  }

  .footer-contacts{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links ul{
    gap:2em;
  }
  
}